.idea
shell/.idea
interprocess_communication/.idea
interprocess_communication/cmake-build-debug
*/echo
*.out
*.cmd
*.ko
*.o
*.order
*.symvers
*.mod.c
*.mod
shell/test.txt

interprocess_communication/message_reader

interprocess_communication/message_sender
